.container{
    display: flex;
}

.dColumn{
    flex-direction: column;
    position: absolute;
    top: 68px;
    right: 0px;
    background-color: #edecec;
    padding: 10px 30px;
}

.dNone{
    display: none;
}

.navLinks {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    border-radius: 5px;
    padding: 6px 12px;
    text-align: center;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3 ease-in-out;
}

.navLinks:hover{
    border-bottom: 1px solid goldenrod;
    color: white;
    background-color: #0076A2;
    box-shadow: 5px 5px 10px gray;
}